.pl-push-enter {
  transform: translate3d(100%, 0, 0) !important;
}

.pl-push-enter-active, .pl-push-leave-active {
  transition: all 1s cubic-bezier(.28, 1.03, 0, .99);
}

.pl-pop-leave-to {
  transform: translate3d(100%, 0, 0) !important;
}

.pl-pop-enter-active, .pl-pop-leave-active {
  transition: all 1s cubic-bezier(.28, 1.03, 0, .99);
}
